*.pyc
*.gv
*.gv.pdf
out/
*.mp4
__pycache__
animations/videos
templates/a.exe
user/.DS_Store
templates/rb.exe
.vscode/tasks.json
templates/.vscode/tasks.json
templates/red-black-tree.exe
algo_image*.png
animations/storage/mobject_data
animations/storage/Text
